#Formular label, input {
    display:block;
    text-align: left;
    margin: auto;
}

body{
    margin: auto;
    padding: auto;
    text-align: center;
}

div {
    margin: auto;
    text-align: center;
}