#savedRecipelist {
    display: flex;
    flex-direction: row;
}

.savedRecipe {
    margin: 5px;
    border: 1px solid black;
    padding: 15px;
    background-color: rgb(255, 183, 251);
    box-shadow: black;
}

.headline {
    text-align: center;
    color: rgb(131, 0, 76);
    font-weight: bold;
    font-size: 150%;
}

.savedRecipe p {
    width: 90%;
}

.singlerecipe {
    background-color: rgb(15, 122, 69);
    margin-left: 2%;
}

.spaceforingradiants,.spaceforinstruction, .spaceforinstruction + p {
    margin-top: 2%;
    padding: 4% 10%;
    border-top: 1px solid black;
}

.deleteButton {
    width: 100%;
    padding: 2%;
    background-color: rgb(202, 49, 49);
    margin: auto;
}

.deleteButton:hover {
    opacity: 70%;
    color: rgb(7, 6, 44);
}