.container {
    align-items: left;
    display: flex;

}

#recipelist {
    display: flex;
    flex-direction: column;

}

.singlerecipe {
    margin-left: 20%;
    margin-bottom: 2%;
    justify-content: center;
    background-color: rgb(26, 177, 26);
    width: 40%;
}

.headline {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    color: rgb(155, 0, 0);
}


.spaceforingradiants,.spaceforinstruction, .spaceforinstruction + p {
    margin-top: 2%;
    padding: 4% 10%;
    border-top: 1px solid black;
}

.saveButton {
    width: 100%;
    padding: 2%;
    background-color: rgb(202, 49, 49);
}

.saveButton:hover {
    opacity: 70%;
    color: rgb(7, 6, 44);
}

