body {
    text-align: center;
    justify-content: center;
    background-color: lightblue;
}

form {
    margin: auto;
    display:block;
    align-items: center;
    width: 20%;
}


form label, input {
    display: flex;
    margin: auto;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(38, 126, 38); 
}

#Serverantwort {
    background-color: lightgrey;
    text-align: center;
}

